# SSHD_CONFIG v2024.08.03

HostKey /etc/ssh/ssh_host_ecdsa_key
HostCertificate /etc/ssh/ssh_host_ecdsa_key-cert.pub
TrustedUserCAKeys /root/.step/certs/ssh_user_ca_key.pub

PasswordAuthentication no
PermitRootLogin no
